<div class="layout-container">
  <header class="box box-padding" {{on "click" this.transitionToListing}}>
    TODO Demo Application
  </header>
  <div class="new-todo box">
    <AddTodoIcon @isSelected={{this.isNewTodoRouteActive}}/>
  </div>
  <div class="search box box-padding">
    <input type="search" {{on "input" this.updateSearch}}>
  </div>
  <aside class="box box-padding">
    <NavBar @todos={{this.filteredTodos}} @selectedTodo={{this.selectedTodo}}/>
  </aside>
  <section class="body-content box box-padding">
    {{yield}}
  </section>
</div>
