{{#let "todo-editor-checkbox-input" as |scope|}}
  <div class={{scope}}>
    <label for={{concat scope "_" @idSuffix}}>
      {{@label}}
    </label>
    <input
      type="checkbox"
      id={{concat scope "_" @idSuffix}}
      class={{if @isInvalid "todo-editor__input--invalid"}}
      checked={{@value}}
      {{on "change" (pick "target.checked" @onChange)}}
    >
  </div>
{{/let}}