{{#let "todo-editor-text-input" as |scope|}}
  <div class={{scope}}>
    <label for={{concat scope "_" @idSuffix}}>
      {{@label}}
    </label>
    <input
      type="datetime-local"
      id={{concat scope "_" @idSuffix}}
      class={{if @isInvalid "todo-editor__input--invalid"}}
      value={{this.value}}
      {{on "change" (pick "target.value" this.onChange)}}
    >
  </div>
{{/let}}